/* src/components/Carousel.css */
.swiper-slide img {
    width: 100%;
    padding:10px;
    border-radius: 8px;
  }
   
  
  .swiper-pagination-bullets {
    bottom: 10px;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #333;
  }

  .carousel-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f9f9f9;
  }
  
  /* Adjust slider height for small screens */
  @media (max-width: 768px) {

    .carousel-slide{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25vh;
      background-color: #f9f9f9;
    }

    .carousel-image {
      height: 30vh;
       
      object-fit: cover; /* Optional: crop or scale the image */
    }
 
  }
  
  
  