/* Swiper slide image styling */
.swiper-slide img {
  width: 100%;
  padding: 0; /* Removed the padding to avoid gaps around the image */
  border-radius: 8px;
}

/* Pagination bullets */
.swiper-pagination-bullets {
  bottom: 10px;
}

/* Navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
}

/* Carousel slide container */
.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden; /* Ensure the image stays within the slide during scale */
  border-radius: 8px;
}

.swiper{
  height: 80vh
}
/* Carousel image */
.carousel-image {
  width: 100%;
  height: 100%; /* Ensure the image fills the slide */
  object-fit: cover; /* Prevent distortion and crop the image if necessary */
  border-radius: 8px; /* Maintain rounded corners */
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.carousel-image:hover {
  transform: scale(1.05); /* Slightly zoom in the image on hover */
}

/* Adjust slider height for small screens */
@media (max-width: 768px) {
  .carousel-slide {
    height: 40vh; /* Adjusted height for smaller screens */
  }
      .swiper{
        height: 36vh
      }

  .carousel-image {
    height: auto; /* Maintain aspect ratio */
  }
}

/* Swiper slide container hover effect */
.carousel-slide:hover .carousel-image {
  transform: scale(1.05); /* Slightly zoom in the image on hover */
}

/* Additional styling (if needed) */
.swiper-container {
  width: 100%;
  height: 100%;
}

