.map-container {
  padding: 10px;
  position: relative;
  width: 100%;
  height: 450px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 768px) {
  .map-container {
    height: 350px;
  }
}

@media (max-width: 480px) {
  .map-container {
    height: 250px;
    padding: 5px;
  }
}
